.likes-heart {
  background: url(http://o86bpj665.bkt.clouddn.com/redux-tower/heart.png) center no-repeat;
  background-size: contain;
  font-size: 2rem;
  padding: 1rem;
  position: absolute;
  color: #ff4081;
  left: 50%;
  top: 50%;
  pointer-events: none;
}

/* animation */
.likes-heart {
  opacity: 0;;
  transition: all 0.5s;
  transform: translateX(-50%) translateY(-50%) scale(5);
  display: block;
}
.likes-heart.like-enter {
  transition: all .2s;
  transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
}
.likes-heart.like-enter.like-enter-active {
  transform: translateX(-50%) translateY(-50%) scale(5);
}

